In [184]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings; warnings.simplefilter('ignore')
%matplotlib inline

In [185]:
dataFrame = pd.read_csv('ArtPainting.csv')
pd.options.display.float_format = '{:.0f}'.format

In [186]:
dataFrame = dataFrame[['name', 'country', 'birth', 'death', 'title', 'medium', 'size', 'signed','stamped','auction_house','lower_estimate','upper_estimate','actual_price','currency']]

In [187]:
dataFrame.head(10)

,name,country,birth,death,title,medium,size,signed,stamped,auction_house,lower_estimate,upper_estimate,actual_price,currency
0,Abraham Rutgers,Netherlands,1632,1699,A STREET IN JISP ON A WINTER&#39;S DAY,Pen,7.60 x 12.05 in,Yes,No,Sothebys - United Kingdom: London Bond Street,50000,70000,85250,GBP
1,Abraham Rutgers,Netherlands,1632,1699,"Skaters on the Vecht in winter, with a slantin...","Chalk pen and brown ink, brown and grey wash, ...",10.55 x 8.27 in,No,No,Christies - United Kingdom: London King Street,50000,70000,302500,GBP
2,Ad Reinhardt,United States of America,1913,1967,"Abstract Painting, Red",Oil on canvas,30.12 x 30.00 in,Yes,No,Christies - The United States: New York ROCKEF...,1400000,1800000,2741000,USD
3,Ad Reinhardt,United States of America,1913,1967,Abstract Painting,Oil on canvas,14.00 x 14.00 in,Yes,No,Christies - The United States: New York ROCKEF...,30000,40000,116500,USD
4,Ad Reinhardt,United States of America,1913,1967,Abstract Painting,Oil and acrylic on canvas,78.00 x 24.00 in,Yes,No,Christies - The United States: New York ROCKEF...,2000000,3000000,2210500,USD
5,Ad Reinhardt,United States of America,1913,1967,UNTITLED,Ink on paper,27.52 x 40.98 in,Yes,No,Sothebys - The United States: New York,100000,150000,100000,USD
6,Ad Reinhardt,United States of America,1913,1967,UNTITLED,Ink on paper,27.52 x 40.98 in,Yes,No,Sothebys - The United States: New York,100000,150000,100000,USD
7,Ad Reinhardt,United States of America,1913,1967,Untitled,Ink on board,21.97 x 30.00 in,Yes,No,Christies - The United States: New York ROCKEF...,40000,60000,116500,USD
8,Ad Reinhardt,United States of America,1913,1967,Untitled,Oil on canvas,23.86 x 13.11 in,Yes,No,Christies - The United States: New York ROCKEF...,120000,180000,147750,USD
9,Ad Reinhardt,United States of America,1913,1967,Untitled,Oil on canvas,40.24 x 32.09 in,No,No,Christies - The United States: New York ROCKEF...,200000,300000,338500,USD

In [188]:
dataFrame['NumberOfYearsArtistsDied'] = dataFrame['death'] - dataFrame['birth']

In [197]:
dataFrame['NumberOfYearsArtistsDied'] = 2017 - dataFrame['death']
dataFrame['NumberOfYearsArtistsBorned'] = 2017 - dataFrame['birth']
dataFrame['mean_estimate'] = (dataFrame['lower_estimate'] + dataFrame['upper_estimate'])/2
dataFrame.head(20)

,name,country,birth,death,title,medium,size,signed,stamped,auction_house,lower_estimate,upper_estimate,actual_price,currency,NumberOfYearsArtistsDied,NumberOfYearsArtistsBorned,ArtworkCount,mean_estimate
0,Abraham Rutgers,Netherlands,1632,1699,A STREET IN JISP ON A WINTER&#39;S DAY,Pen,7.60 x 12.05 in,Yes,No,Sothebys - United Kingdom: London Bond Street,50000,70000,85250,GBP,318,385,2,60000
1,Abraham Rutgers,Netherlands,1632,1699,"Skaters on the Vecht in winter, with a slantin...","Chalk pen and brown ink, brown and grey wash, ...",10.55 x 8.27 in,No,No,Christies - United Kingdom: London King Street,50000,70000,302500,GBP,318,385,2,60000
2,Ad Reinhardt,United States of America,1913,1967,"Abstract Painting, Red",Oil on canvas,30.12 x 30.00 in,Yes,No,Christies - The United States: New York ROCKEF...,1400000,1800000,2741000,USD,50,104,10,1600000
3,Ad Reinhardt,United States of America,1913,1967,Abstract Painting,Oil on canvas,14.00 x 14.00 in,Yes,No,Christies - The United States: New York ROCKEF...,30000,40000,116500,USD,50,104,10,35000
4,Ad Reinhardt,United States of America,1913,1967,Abstract Painting,Oil and acrylic on canvas,78.00 x 24.00 in,Yes,No,Christies - The United States: New York ROCKEF...,2000000,3000000,2210500,USD,50,104,10,2500000
5,Ad Reinhardt,United States of America,1913,1967,UNTITLED,Ink on paper,27.52 x 40.98 in,Yes,No,Sothebys - The United States: New York,100000,150000,100000,USD,50,104,10,125000
6,Ad Reinhardt,United States of America,1913,1967,UNTITLED,Ink on paper,27.52 x 40.98 in,Yes,No,Sothebys - The United States: New York,100000,150000,100000,USD,50,104,10,125000
7,Ad Reinhardt,United States of America,1913,1967,Untitled,Ink on board,21.97 x 30.00 in,Yes,No,Christies - The United States: New York ROCKEF...,40000,60000,116500,USD,50,104,10,50000
8,Ad Reinhardt,United States of America,1913,1967,Untitled,Oil on canvas,23.86 x 13.11 in,Yes,No,Christies - The United States: New York ROCKEF...,120000,180000,147750,USD,50,104,10,150000
9,Ad Reinhardt,United States of America,1913,1967,Untitled,Oil on canvas,40.24 x 32.09 in,No,No,Christies - The United States: New York ROCKEF...,200000,300000,338500,USD,50,104,10,250000
10,Ad Reinhardt,United States of America,1913,1967,Untitled,Oil on canvas,31.85 x 40.00 in,Yes,No,Christies - The United States: New York ROCKEF...,250000,350000,494500,USD,50,104,10,300000
11,Ad Reinhardt,United States of America,1913,1967,Yellow Painting,Oil on canvas,46.10 x 19.88 in,Yes,No,Christies - United Kingdom: London King Street,100000,150000,157250,GBP,50,104,10,125000
12,Adolph Gottlieb,United States of America,1903,1974,A PALETTE OF IMAGERY,Oil on canvas,27.99 x 35.98 in,Yes,No,Sothebys - The United States: New York,150000,200000,152500,USD,43,114,75,175000
13,Adolph Gottlieb,United States of America,1903,1974,Above and Below #2,Offset on canvas,24.13 x 30.12 in,Yes,No,Christies - The United States: New York Rockef...,70000,90000,107550,USD,43,114,75,80000
14,Adolph Gottlieb,United States of America,1903,1974,ALCHEMIST&#39;S FLUID,Oil on canvas,24.02 x 30.00 in,Yes,No,Sothebys - The United States: New York,200000,250000,241000,USD,43,114,75,225000
15,Adolph Gottlieb,United States of America,1903,1974,ASTERISK ON BROWN,Oil on canvas,40.00 x 30.00 in,Yes,No,Sothebys - The United States: New York,150000,20000,182500,USD,43,114,75,85000
16,Adolph Gottlieb,United States of America,1903,1974,Balance,Oil on canvas,60.00 x 90.00 in,Yes,No,Christies - The United States: New York ROCKEF...,800000,1200000,3259750,USD,43,114,75,1000000
17,Adolph Gottlieb,United States of America,1903,1974,"BEACON, 1965",Oil on canvas,60.24 x 39.76 in,Yes,No,Artcurial - Briest-Poulain-Le Fur - France: Paris,220000,250000,265144,EUR,43,114,75,235000
18,Adolph Gottlieb,United States of America,1903,1974,Beacon,Oil on canvas,60.00 x 40.00 in,Yes,No,Christies - The United States: New York Rockef...,120000,180000,158700,USD,43,114,75,150000
19,Adolph Gottlieb,United States of America,1903,1974,Black Emblems,Oil on canvas,84.02 x 90.00 in,Yes,No,Christies - The United States: New York ROCKEF...,300000,500000,542500,USD,43,114,75,400000

In [198]:
TotalPriceByArtists = dataFrame.groupby('name')['lower_estimate', 'upper_estimate','mean_estimate', 'actual_price'].sum()

In [200]:
TotalPriceByArtists.sort_values('actual_price', ascending=False).head(20)

,lower_estimate,upper_estimate,mean_estimate,actual_price
name,,,,
Zhang Daqian,852093336,1161842137,1006967736,3055586750
Pablo Ruiz Picasso,1466832758,2065004848,1765918803,2531886648
Andy Warhol,1289496346,1815354844,1552425595,2233064212
Chu Teh Chun (zhu Dequn),721117412,1019960577,870538994,1359121308
Wu Guanzhong,494952292,699136172,597044232,1296323990
Sanyu (chang Yu),396056703,553579612,474818158,1099099737
Zhang Xiaogang,546451598,772396197,659423898,1067977935
Francis Bacon,234520000,326710000,280615000,941185350
Gerhard Richter,553420000,996905000,775162500,929755516
Claude Monet,619360973,858851127,739106050,919885340
Qi Baishi,354242089,504261119,429251604,902287926
Mark Rothko,385165000,526030000,455597500,889832550
Jean Michel Basquiat,502938250,720300350,611619300,816761271
Xu Beihong,292329174,420528900,356429037,801762106
Fu Baoshi,243255754,331611607,287433680,701031694
Alberto Giacometti,369220000,542550000,455885000,696304374
Zhu (ju Ming) Ming,430579047,586096219,508337633,664048382
Amedeo Modigliani,210075000,322115000,266095000,661676887
Henri Emile Benoit Matisse,402372648,559946472,481159560,628823392
Willem De Kooning,390815000,550755000,470785000,610574825

In [192]:
dataFrame['ArtworkCount'] = dataFrame.groupby('name')['name'].transform('count')

In [193]:
CountPaintingByArtists = dataFrame.groupby('name').size().reset_index(name="Total")
CountPaintingByArtists = CountPaintingByArtists.sort_values('Total', ascending=False)

In [195]:
CountPaintingByArtists.head(20)

                           name  Total
47                  Andy Warhol   1518
530          Pablo Ruiz Picasso   1332
463                Marc Chagall    839
551       Pierre Auguste Renoir    591
691                Zhang Daqian    584
453               Lucio Fontana    546
370                   Joan Miró    487
137                Damien Hirst    477
250             Gerhard Richter    440
297  Henri Emile Benoit Matisse    401
190               Fernand Léger    378
360        Jean Michel Basquiat    362
562                   Qi Baishi    357
352               Jean Dubuffet    332
567                  Raoul Dufy    322
306                 Henry Moore    311
594            Roy Lichtenstein    301
123    Chu Teh Chun (zhu Dequn)    299
576              Richard Prince    293
159                 Edgar Degas    284

In [205]:
dataFrame.sort_values('actual_price', ascending=False)[['name','actual_price']].head(20)

                           name  actual_price
2109          Amedeo Modigliani     259250000
40742              Zhang Daqian     191060000
40499              Zhang Daqian     157800000
12613             Francis Bacon     142405000
36300          Sanyu (chang Yu)     128320000
7935                 Cui Ruzhuo     123860000
10140              Edvard Munch     119922500
30355        Pablo Ruiz Picasso     106482500
29801        Pablo Ruiz Picasso     104168000
29529        Pablo Ruiz Picasso      96025000
41112            Zhang Xiaogang      94200000
7082   Chu Teh Chun (zhu Dequn)      89920000
15932              Gustav Klimt      87936000
26942               Mark Rothko      86882500
12615             Francis Bacon      86281000
5124             Barnett Newman      84165000
23822                  Li Keran      84120000
41492        Zhu (ju Ming) Ming      82240000
36330          Sanyu (chang Yu)      80760000
40786              Zhang Daqian      80510000